<%= form_for(@tenant, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @tenant.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h4>

      <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tel, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tel, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lease_commenced, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :lease_commenced, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lease_end, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :lease_end, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :property_address, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :property_id, Property.all, :id, :address %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
