<div class="page-header">
  <%= link_to new_work_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Work
  <% end %>
  <h1>Listing works</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Work Type</th>
            <th>Raised date</th>
            <th>Due date</th>
            <th>Property</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @works) do |work| %>
            <td><%= work.work_type %></td>
            <td><%= work.raised_date %></td>
            <td><%= work.due_date %></td>
            <td><%= work.property_id %></td>
            <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
