<div class="page-header">
  <%= link_to new_property_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Property
  <% end %>
  <h1>Managed Property List</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Address</th>
            <th>Landlord</th>
            <th>Tenant</th>
            <th>End of Lease</th>
            <th>Works Active?</th>
            <th>Admin</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @properties) do |property| %>
            <td><%= link_to property.address, property %></td>
            <td><%= link_to property.landlord.first_name + ' ' + property.landlord.last_name, property.landlord %></td>
            <%= @tenant.find_each do |tenant| %>
              <% if tenant.property_id == property.id %>
                <td><%= link_to tenant.first_name + ' ' + tenant.last_name, 'tenants/' + tenant.id.to_s %></td>
                <% @tenant_boolean = true %>
                <% break %>
              <% else %>
                <% @tenant_boolean = false %>
              <% end %>
            <% end %>
            <% if @tenant_boolean == false %>
              <td>No Tenant!</td>
            <% end %>
            <%= @tenant.find_each do |tenant| %>
              <% if tenant.property_id == property.id %>
                <td><%= tenant.lease_end %></td>
                <% @tenant_lease_boolean = true %>
                <% break %>
              <% else %>
                <% @tenant_lease_boolean = false %>
              <% end %>
            <% end %>
            <% if @tenant_lease_boolean == false %>
              <td>N/A</td>
            <% end %>
            <% if property.active_job == "1" %>
              <td>Yes</td>
            <% else %>
              <td> No </td>
            <% end %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
