<div class="page-header">
  <%= link_to new_contractor_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contractor
  <% end %>
  <h1>Listing contractors</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Company name</th>
            <th>Industry type</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Jobs completed</th>
            <th>Jobs feedback good</th>
            <th>Jobs feedback bad</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contractors) do |contractor| %>
            <td><%= contractor.company_name %></td>
            <td><%= contractor.industry_type %></td>
            <td><%= contractor.email %></td>
            <td><%= contractor.tel %></td>
            <td><%= contractor.jobs_completed %></td>
            <td><%= contractor.jobs_feedback_good %></td>
            <td><%= contractor.jobs_feedback_bad %></td>
            <td><%= link_to 'Show', contractor %></td>
        <td><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
        <td><%= link_to 'Destroy', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
