<div class="page-header">
  <%= link_to new_landlord_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Landlord
  <% end %>
  <h1>Listing landlords</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Address</th>
            <th>Date registered</th>
            <th>Property</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @landlords) do |landlord| %>
            <td><%= landlord.first_name %></td>
            <td><%= landlord.last_name %></td>
            <td><%= landlord.email %></td>
            <td><%= landlord.tel %></td>
            <td><%= landlord.address %></td>
            <td><%= landlord.date_registered %></td>
            <td><%= landlord.property_id %></td>
            <td><%= link_to 'Show', landlord %></td>
        <td><%= link_to 'Edit', edit_landlord_path(landlord) %></td>
        <td><%= link_to 'Destroy', landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
