<div class="page-header">
  <%= link_to url_for(:back), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_landlord_path(@landlord), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @landlord.first_name + " " + @landlord.last_name %>, Landlord</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @landlord.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @landlord.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @landlord.email %></dd>

  <dt>Tel:</dt>
  <dd><%= @landlord.tel %></dd>

  <dt>Address:</dt>
  <dd><%= @landlord.address %></dd>

  <dt>Date registered:</dt>
  <dd><%= @landlord.date_registered %></dd>

</dl>
